@font-face {
    font-family: old-font;
    src: url(./fonts/Norse-Bold\ \(1\).otf);
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
}
.aesthetic {
    background-image: url(./images/johny-goerend-Oz2ZQ2j8We8-unsplash.jpg);
    height: 100vh;
    width: 600px;
}
.form-container {
    margin-left: 50px;
    margin-top: 150px;
}
.container {
    display: flex;
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
img {
    height: 100px;
    width: auto;
}
li {
    padding: 10px 0 10px 0;
}
label {
    display: block;
    font-size: smaller;
}
input {
    display: block;
    padding-right: 2px;
    font-size: medium;
}
.content {
    margin-top: calc(50vh - 100px);
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
}
.title {
    font-size: 100px;
    color: white;
    font-family: old-font;
}